   * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
 
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background: #0f9cdd58;
      color: #000000;
    }
 
    header {
      background: #4249d300;
      color: rgba(0, 0, 0, 0.453);
      padding: 20px;
    }
 
    .container {
      width: 90%;
      max-width: 1200px;
      margin: auto;
    }
 
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
 
    .logo {
      font-size: 24px;
      font-weight: bold;
    }
 
    .menu {
      display: flex;
      gap: 20px;
    }
 
    .menu a {
      color: rgb(255, 14, 14);
      text-decoration: none;
      font-weight: 500;
    }
 
    .menu-toggle {
      display: none;
      cursor: pointer;
    }
 
    .hero {
      padding: 80px 0;
      background: #9a294500;
      color: rgba(17, 16, 16, 100);
      text-align: center;
    }
 
    .hero h1 {
      font-size: 48px;
      margin-bottom: 20px;
    }
 
    .hero p {
      font-size: 18px;
      margin-bottom: 30px;
    }
 
    .hero button {
      padding: 12px 24px;
      background: rgba(255, 0, 0, 0);
      color: #3b000000;
      border: none;
      cursor: pointer;
      font-weight: bold;
      border-radius: 5px;
    }
 
    section {
      padding: 60px 0;
    }
 
    .grid {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
 
    .grid-item {
      flex: 1 1 250px;
      background: rgba(15, 15, 208, 0.505);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(182, 14, 14, 0.1);
    }
 
    footer {
      background: #000000;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 20px;
    }s
 
    /* Responsividade */
    @media (max-width: 768px) {
      .menu {
        display: none;
        flex-direction: column;
        background: #633200;
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        padding: 10px;
      }
 
      .menu.active {
        display: flex;
      }
 
      .menu-toggle {
        display: block;
      }
    }

    h2{
      color: black;
    }
  